<h2>Sample form for real estate property</h2>
<div>
  <form class="listing form">
    <mat-form-field>
      <input matInput placeholder="Title">
    </mat-form-field>
  </form>
</div>

<div>
  <h2>All fields (red - required)</h2>
</div>
<ol>
  <li style="color:red">Title</li>
  <li style="color:red">Description</li>
  <li style="color:red">Photo upload</li>
  <li style="color:red">City</li>
  <li style="color:red">Country</li>
  <li style="color:red">Contact method - checkboxes: facebook, whatsapp, phone number, email</li>
  <li style="color:red">Property Street</li>
  <li >Property house number/house name</li>
</ol>
